<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>Permission Form</title>
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="layout/header::header"></div>

	<div class="container">
		<div class="page-header">
			<h1>권한 관리</h1>
		</div>

		<br /> 
		<div id="mainHide">
			<div class="pull-left">
				<a href="/admin/permission" class="btn btn-default">목록으로</a>
			</div>
			<div class="pull-right">
				<button th:if="${param?.roleId}" class="btn btn-danger"
					 type="submit" th:text="Save"
					id="insert"></button>
				
				<a th:if="${param?.roleId}"  class="btn btn-primary" th:href="@{/admin/permission/create/role(id=${param?.roleId})}">역할 수정</a>
				
				<a th:if="!${param?.roleId}" id="getper" class="btn btn-primary" href="#">조회</a>
				<a th:if="!${param?.roleId}" class="btn btn-danger" href="/admin/permission/create/role">역할 등록</a>
				
			</div>
			<input type="hidden" id="role" th:name="role" th:value="${role}" />
			<input type="hidden" id="roleId" th:name="roleId"
				th:value="${param?.roleId}" />
			<input type="hidden" id="resourceList" th:name="resourceList" th:value="${resourceList}" />
			<table class="table">
				<tr>
					<th style="padding: 13px 0 0 15px">역할 분류 선택</th>
					<td th:if="!${param?.roleId}">
						<div class="pull-left">
							<label for="role_division"></label> <select
								class="form-control input-sm" id="role_division"
								name="role_division">
								<option selected="selected" >--role division--</option>
								<option
									th:each="role_div : ${T(com.skcc.demo.context.auth.domain.authority.role.model.RoleDivision).values()}"
									th:value="${role_div}"
									th:text="${role_div}"></option>
							</select>
						</div>

					</td>
					<td th:if="${param?.roleId}" th:text="${role.roleDivision}"></td>

					<th style="padding: 13px 0 0 15px">역할 선택</th>
					<td th:if="!${param?.roleId}">
						<div class="pull-left">
							<label for="role_division"></label> <select
								class="form-control input-sm" id="role_name" name="role_name"
								th:value="role_name">
								<option selected="selected">--role--</option>
							</select>

						</div>

					</td>
					<td th:if="${param?.roleId}" th:text=${role.name}></td>
				</tr>
			</table>

			



			<div>
			<table class="table">
				<thead>
					<tr>

						<th width="10%" >#</th>
						<th width="25%" style="text-align:center">Resource Name</th>
						<th width="25%" style="text-align:center">Permission Name</th>
						<th width="25"style="text-align:center" > Permission Level</th>
						<th width="15%" style="text-align:center">Usage</th>
					</tr>
				</thead>
			</table>
			</div>
			
			<div style="width: 100%; height:300px; overflow-y:auto; overflow-x: hidden;">
			<table class="table">
				<tbody >
					<tr th:each="permission,idx : ${permissionList}">
						<td  width="10%" style="text-align:center" th:text="${permission.id}"></td>
						<th:block th:if="${resourceList}" th:each="resource: ${resourceList}">
	
							<td   th:if="${resource.id==permission.resourceId}" width="25%"  style="text-align:center"th:text="${resource.name}"></td>
							
						</th:block>
						
						<td  width="25%" style="text-align:center" th:text="${permission.name}"></td>
						<td  width="25%"  style="text-align:center"th:text="${permission.perLevel}"></td>
						
						<th:block th:if="${role.id}!=null">
							<td width="15%" style="text-align:center">
							<input    type="checkbox" name="isChecked" id="perchecked"
								th:checked="${#lists.contains(role.perIdList, permission.id)}"
								th:value="${permission.id}" /></td>
						</th:block>
						
						<th:block th:unless="${role.id}!=null">
							<td  style="text-align:center" width="15%" th:text="NONE"></td>
						</th:block>



					</tr>
				</tbody>
			</table>
			</div>

		
		</div>
		
		
		<br />

	</div>
	
	<div th:replace="layout/footer::footer"></div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$('#role_division').change(
				function() {
					 $.getJSON("http://localhost:8084/roles", {
			                roleDivision : $('#role_division option:selected').val(),
			                ajax : 'true'
			            }, function(data) {
						var html = '<option value="">--role--</option>';
						var len = data.length;
						for (var i = 0; i < len; i++) {
							html += '<option value="' + data[i].id + '">'
									+ data[i].name + '</option>';
						}
						html += '</option>';
						$('#role_name').html(html);
						//console.log(data);
					});
				});
		/*]]>*/
	</script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$('#role_name').change(
				function() {
  					 $( '#getper' ).attr('href', 'http://localhost:8084/admin/permission/getperlist?roleId='+$('#role_name option:selected').val() ); 
					 $.getJSON("http://localhost:8084/permissions", {
			                roleId : $('#role_name option:selected').val(),
			                ajax : 'true'
			            }, function(data) {
			         //   $('#permissonList').setValue(data);
			           	//$('#role_name').html(html);
						console.log(data);
					});
				});
		/*]]>*/
	</script>

	<script>
		$('#insert').click(function() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			var checkedperlist =[];
			$('input[name="isChecked"]:checked').each(function(i){
				checkedperlist.push($(this).val());
				
			});
			var jsonData = JSON.stringify({
				id : $('#roleId').val(),
				perIdList: checkedperlist
			});
		
			$.ajax({
				url : "http://localhost:8084/admin/permission/edit",
				type : "POST",
				data : jsonData,
				contentType : "application/json",
				
				dataType : "json",

				beforeSend : function(xhr) {

					xhr.setRequestHeader(header, token);

				},
				success : function() {
					alert('권한이 수정되었습니다.');
					location.href = '/admin/permission';
				},
				error : function(request,status,error) {
					//alert('저장 실패');
					 alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);
				}
			});
		});
	</script>
</body>
</html>