<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>Permission Form</title>
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="layout/header::header"></div>

	<div class="container">
		<div class="page-header">
			<h1>권한 관리</h1>
		</div>

		<br />
		<br />
		<br />
		<div id="mainHide">
		<div class="pull-left">
        <a href="/admin/permission" class="btn btn-default">목록으로</a>
        </div>
        <input type="hidden" id="role" th:name="role" th:value="${role}" />
		 <input type="hidden" id="roleId" th:name="roleId" th:value="${param?.roleId}" />
			<table class="table">
				<tr>
					<th style="padding: 13px 0 0 15px">역할 분류 선택</th>
					<td  th:if="!${param?.roleId}">
						<div class="pull-left">
							<label for="role_division"></label> 
							<select
								class="form-control input-sm" id="role_division"
								name="role_division">
								<option>--role division--</option>
								<option
									th:each="role_div : ${T(com.skcc.demo.context.auth.domain.authority.role.model.RoleDivision).values()}"
									selected="selected" th:value="${role_div}" th:text="${role_div}">
								</option>
							</select>
						</div>

					</td>
					<td th:if="${param?.roleId}" th:text="${role.roleDivision}"></td>

					<th style="padding: 13px 0 0 15px">역할 선택</th>
					<td th:if="!${param?.roleId}">
						<div class="pull-left">
							<label for="role_division"></label> 
							<select
								class="form-control input-sm" id="role_name" name="role_name"
								th:value="role_name"
								>
								<option selected="selected">--role--</option>
							</select>

						</div>

					</td>
					<td th:if="${param?.roleId}" th:text=${role.name}></td>
				</tr>
			</table>
			
			<a id = "getper" class="btn btn-primary btn-block" href="#">조회</a>
          


			<!--  <form th:action='@{/admin/permission/edit}' method="POST">-->

				<table class="table table-hover">
					<thead>
						<tr>

							<th class="col-md-1">#</th>
							<th class="col-md-2">Permission Name</th>
							<th class="col-md-4">Permission Level</th>
							<th class="col-md-5">Usage</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="permission,idx : ${permissionList}">
							<td  th:text="${permission.id}"></td>
							<td  th:text="${permission.name}"></td>
							<td  th:text="${permission.perLevel}"></td>
							<th:block th:if="${role.id}!=null">
								<td><input type="checkbox" name="isChecked"
									id="perchecked" th:checked="${#lists.contains(role.perIdList, permission.id)}"
									th:value="${permission.id}" /></td>
							</th:block>
							<th:block th:unless="${role.id}!=null">
								<td th:text="NONE"></td>
							</th:block>



						</tr>
					</tbody>
				</table>
				
				<button th:if="${param?.roleId}" class="btn btn-primary btn-block"
					style="width: 100px; margin: 10px 0;" type="submit" th:text="Save"
					id="insert"></button>
				
			<!-- </form> -->
		</div>
		<br />

	</div>

	<div th:replace="layout/footer::footer"></div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$('#role_division').change(
				function() {
					 $.getJSON("http://localhost:8084/roles", {
			                roleDivision : $('#role_division option:selected').val(),
			                ajax : 'true'
			            }, function(data) {
						var html = '<option value="">--role--</option>';
						var len = data.length;
						for (var i = 0; i < len; i++) {
							html += '<option value="' + data[i].id + '">'
									+ data[i].name + '</option>';
						}
						html += '</option>';
						$('#role_name').html(html);
						//console.log(data);
					});
				});
		/*]]>*/
	</script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$('#role_name').change(
				function() {
  					 $( '#getper' ).attr('href', 'http://localhost:8084/admin/permission/getperlist?roleId='+$('#role_name option:selected').val() ); 
					 $.getJSON("http://localhost:8084/permissions", {
			                roleId : $('#role_name option:selected').val(),
			                ajax : 'true'
			            }, function(data) {
			         //   $('#permissonList').setValue(data);
			           	//$('#role_name').html(html);
						console.log(data);
					});
				});
		/*]]>*/
	</script>
	
	<script>
		$('#insert').click(function() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			var checkedperlist =[];
			$('input[name="isChecked"]:checked').each(function(i){
				checkedperlist.push($(this).val());
				
			});
			var jsonData = JSON.stringify({
				id : $('#roleId').val(),
				perIdList: checkedperlist
			});
		
			$.ajax({
				url : "http://localhost:8084/admin/permission/edit",
				type : "POST",
				data : jsonData,
				contentType : "application/json",
				
				dataType : "json",

				beforeSend : function(xhr) {

					xhr.setRequestHeader(header, token);

				},
				success : function() {
					alert('권한이 수정되었습니다.');
					location.href = '/admin/permission';
				},
				error : function(request,status,error) {
					//alert('저장 실패');
					 alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);
				}
			});
		});
	</script>
</body>
</html>