<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Menu Form</title>
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="layout/header::header"></div>
	<input type="hidden" id="topMenuList" th:name="topMenuList"
		th:value="${topMenuList}" />
	<input type="hidden" id="subMenuList" th:name="subMenuList"
		th:value="${subMenuList}" />
	<input type="hidden" id="subMenuList_whole" th:name="subMenuList_whole"
		th:value="${subMenuList_whole}" />
	<input type="hidden" id="topMenuList_whole" th:name="topMenuList_whole"
		th:value="${topMenuList_whole}" />
	
	<div class="container">
		<div class="page-header">
			<h1>메뉴 관리</h1>
		</div>
		<p align="right">
			<a style="width: 120px; text-align: center;"
				href="/admin/menu/create/top" class="btn btn-primary">상위메뉴 등록</a> <a
				style="width: 120px; text-align: center;"
				href="/admin/menu/create/sub" class="btn btn-primary">하위메뉴 등록</a>
		</p>
		<br />
		<table class="table" >
			<tbody>
				<tr style="width: 100%;">
					<td>상위 메뉴 조회</td>
					<td>
					<select class="form-control input-sm" id="topMenu_id"
					name="topMenu_id">
					<option th:selected="selected" value="">--상위 메뉴 선택--</option>
					<option th:if="${topMenuList}"th:each="topMenu : ${topMenuList}" th:value="${topMenu.id}"
						th:text="${topMenu.name}"></option>
					<option th:if="${topMenuList_whole}"th:each="topMenu : ${topMenuList_whole}" th:value="${topMenu.id}"
						th:text="${topMenu.name}"></option>

					</select>
					</td>
					<td ><a href="#" id="getMenu" style="text-align: center;"
					class="btn btn-danger ">조회</a></td>
					
				</tr>
			</tbody>
		</table>
		<br /> 
		
		<div id="mainHide">




			<div>
				<table class="table">
					<thead>
						<tr>
							<th width="10%" class="col-md-1">#</th>
							<th width="50%" style="text-align: center">Name</th>

							<th width="50%" style="text-align: center">Usage</th>
						</tr>
					</thead>
				</table>
			</div>
			<div
				style="width: 100%; height: 200px; overflow-y: auto; overflow-x: hidden;">
				<table th:if="${topMenuById}!=null"class="table">
					<tbody>
						<tr >
							<td width="10%" th:text="${topMenuById.id}"></td>
							<td width="50%" style="text-align: center" ><a
								th:href="@{/admin/menu/create/top(id=${topMenuById.id})}"
								th:text="${topMenuById.name}"> </a></td>

							<td width="50%" style="text-align: center"
								th:text="${topMenuById.topMenuUsage}">
						</tr>
					</tbody>
				</table>
			</div>
			
			<div>
					<table class="table" >
			<tbody>
				<tr style="width: 100%;">
					
					<td ><a th:href="@{/submenus}"style="text-align: center;"
					class="btn btn-danger ">하위메뉴 전체 조회</a></td>
					
				</tr>
			</tbody>
		</table>
			</div>
			<div>
				<label for="subMenu">하위 메뉴 리스트 </label>
				<table class="table">
					<thead>
						<tr>
							<th width="10%" class="col-md-1">#</th>
							<th width="35%" style="text-align: center">Name</th>
							<th width="35%" style="text-align: center">TopMenu Name</th>

							<th width="20%" style="text-align: center">Usage</th>
						</tr>
					</thead>

				</table>
			</div>
			<div
				style="width: 100%; height: 200px; overflow-y: auto; overflow-x: hidden;">
				<table th:if="${topMenuById}!=null" class="table">
					<tbody>
						<tr th:each="submenu : ${subMenuList}">
							<td width="10%" th:text="${submenu.id}"></td>
							<td width="35%" style="text-align: center"
								><a
								th:href="@{/admin/menu/create/sub(id=${submenu.id})}"
								th:text="${submenu.name}"> </a></td>
							<td width="35%" style="text-align: center"
								th:text="${topMenuById.name}"></td>

							<td width="20%" style="text-align: center"
								th:text="${submenu.subMenuUsage}">
						</tr>
					</tbody>
				</table>
				<table th:if="${topMenuList_whole !=null and subMenuList_whole !=null}" class="table">
					<tbody>
						<tr th:each="submenu : ${subMenuList_whole}">
							<td width="10%" th:text="${submenu.id}"></td>
							<td width="35%" style="text-align: center"
								><a
								th:href="@{/admin/menu/create/sub(id=${submenu.id})}"
								th:text="${submenu.name}"> </a></td>
							<th:block th:each="topmenu:${topMenuList_whole}">
							<td width="35%" style="text-align: center"
								th:if="${topmenu.id == submenu.topMenuId}"th:text="${topmenu.name}"></td>
							<td width="35%" style="text-align: center"
								th:unless="${topmenu.id == submenu.topMenuId}">연결된 상위메뉴가 없습니다.</td>
							
							</th:block>
							<td width="20%" style="text-align: center"
								th:text="${submenu.subMenuUsage}">
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br />

	</div>

	
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$('#topMenu_id').change(
				function() {
  					 $( '#getMenu' ).attr('href', 'http://localhost:8084/admin/menu?id='+$('#topMenu_id option:selected').val() ); 
				});
		/*]]>*/
	</script>
</body>
</html>